.movie-page {
  align-items: center;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: change-background;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.credits {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: change-color;
  line-height: 20px;
  opacity: 0;
  text-align: center;
}

.movie-page a {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: change-color;
  opacity: 0;
}

@keyframes change-background {

  from { background-color: white;}

  to { background-color: black;}
}

@keyframes change-color {

  from { color: white; }

  to { color: rgba(200, 200, 200, 0.8);
    opacity: 1;}
}
